
<div ng-controller="oneCtrl"> 
<div>
  <h1 align="center">Student Details</h1>
  
<form name="myForm" >
<table class="table"  class="w3-table-all "align="center">	
<tr class="success"><td>ID:</td><td><input name="studId" ng-model="id"  disabled></td>
<tr class="success"><td>First Name:</td><td><input name="FName" ng-model="fname"  type="text" disabled ></td>
<tr class="success"><td>Last Name:</td><td> <input name="LName" ng-model="lname"  required my-directive type="text" disabled></td>
<tr class="success"><td>SAT:</td><td><input name="studSat" ng-model="sat"  min="0" max="1600" type="number" disabled ></td>
<tr class="success"><td>GPA:</td><td><input name="studGpa" ng-model="gpa" min="0.0" max="4.0" step="any" type="number" disabled ></td>	 
<tr class="success"><td>Major ID:</td><td><input name="studMajor" ng-model="major"   type="text" disabled ></td>
<tr><td></td><td> <a class="w3-btn w3-blue" href="#/editStudent">Edit Student</a></td>

<br> 
</form>
</div>
</div>