
.bold {
	font-weight:bold;
	
}
img{
	width:100px; height:100px;
}
.red{
	color:red;
	
}
.italics{
	font-style:italic;
}
span{
	color:black;
	font-weight:bold;
	width:49%;
	display: inline-block;
}

table,td{
	border:1px solid; color:brown; 
	border-collapse:collapse;
}


div{
 width:49%;
display: inline-block;
vertical-align:text-top;
text-align:justify;
}

#ulfmt{
	vertical-align:text-top;
}

#right {
	color:black;
}

#footer {
	color:silver;
   text-align:center;
    height:60px;
    background:black;
}

