
#message{
	 text-align: text-right-side;
	 
}

#submit{
	 background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
	
}

div{
font-size: 32px;
 width:49%;
 display: inline-block;
vertical-align:text-top;
text-align: center;
}




